// .mat-header-cell {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     font-weight: bold;
//     background: #f1f1f1 !important;
//     color: #000001;
//     padding-left: 7.5px;
//     padding-right: 7.5px;
// }

// tr.mat-row {
//     height: 0% !important;
// }

// .mat-header-cell,
// .mat-cell {
//     border: 1px solid #e4e4e4;
// }

// .mat-table .row-even {
//     background-color: #ffffff !important;
//     /* Color de fondo para filas pares */
// }

// .mat-table .row-odd {
//     background:rgba(0, 0, 0, 0.02) !important;
//     /* Color de fondo para filas impares */
// }

// .table-container {
//     overflow-x: auto;
//     max-width: 100%;
// }

// .mat-paginator-container {
//     justify-content: center !important;
// }


//CSS de primeNG

// :host ::ng-deep .ui-table-customers {

//     .flag {
//         vertical-align: middle;
//         width: 30px;
//         height: 20px;
//     }

//     .ui-table-caption {
//         border: 0 none;
//         padding: 12px;
//         text-align: left;
//         font-size: 20px;
//     }

//     .ui-table-thead > tr > th {
//         border: 0 none;
//         text-align: left;

//         &.ui-filter-column {
//             border-top: 1px solid #c8c8c8;
//         }

//         &:first-child {
//             width: 5em;
//             text-align: center;
//         }

//         &:last-child {
//             width: 8em;
//             text-align: center;
//         }
//     }

//     .ui-table-tbody > tr > td {
//         border: 0 none;
//         cursor: auto;

//         &:first-child {
//             width: 3em;
//             text-align: center;
//         }

//         &:last-child {
//             width: 8em;
//             text-align: center;
//         }
//     }

//     .ui-dropdown-label:not(.ui-placeholder) {
//         text-transform: uppercase;
//     }

//     .ui-table-tbody > tr > td .ui-column-title {
//         display: none;
//     }
// }